@model EmailUploadedDocument.Core.Models.Document
    @{
        ViewBag.Title = "ViewDocument";
}


<h2>ViewDocument</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <img src="@Model.DocumentString" />
        </dt>

    </dl>
</div>